root = true

[*]
volitility = 18
k1 = 0.2
k2 = 0.2
stop_profit = 3
stop_loss = 10
fee = 1.51
open_fee = 1.51
close_t0_fee = 0.0
start_tick = 2
long_lots_limit = 1
short_lots_limit = 1
slope_upper = 1.5
slope_lower = -1.5
start_timestamp = 21:00:30
end_timestamp = 14:59:30
delay_sec = 3
uqer_token = 

